#base_page{
    width: 100vw;
    height: 86vh;
    min-width: 100vw;
    min-height: 85vh;
    /*background: #0D3692;*/
    background: white;
    text-align: center;
    
}
#base_page h1{
    display: block;
    margin: 0;
    position: relative;
    top: 40%;
}


#profile, #resume{
    display: none;
    height: 83vh;
    width: 75vw;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 801;
    position: absolute;
    min-height: 83vh;
    min-width: 75vw;
    background: #FFFFFF;
    left: 12.5vw;
    top: 8.5vh;
    text-align: center;
    border-radius: 25px;
}

#scheduler{
    display: none;
    height: 85vh;
    width: 90vw;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 801;
    position: absolute;
    min-height: 85vh;
    min-width: 90vw;
    background: #FFFFFF;
    left: 5vw;
    top: 7.5vh;
    text-align: center;
    border-radius: 25px;
}

.blanket{
    display: none;
    height: 86vh;
    width: 100vw;
    top: 7vh;
    overflow: hidden;
    z-index: 800;
    position: absolute;
    background: rgba(100, 100, 100, 0.75);
}

#login_blanket{
    z-index: 902;
}
#schedule_blanket{
    z-index: 900;
    height: 75vh;
    width: 60vw;
    top: 12.5vh;
    left: 20vw;
}

#schedule_overlay{
    display: none;
    background-image: url(images/2.png);
    height: 10vh;
    width: 10vw;
    top: 45vh;
    left: 45vw;
    position: absolute;
    z-index: 901;
    border-radius: 10px;
}
#login_overlay{
    z-index: 903;
    display: none;
    top: 32.5vh;
    left: 42.5vw;
    position: absolute;
    border-radius: 10px;
}

#schedule_overlay_link, #schedule_overlay_link:visited,
#search_overlay_link, #search_overlay_link:visited{
    height: inherit;
    width: inherit;
    text-decoration: none;
    display: table-cell;
    background-image: url(images/2.png);
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-weight: bold;
}

.login_user_choice_image{
    position: absolute;
    top: 0.5vh;
    left: 0.5vh;
    width: 20vh;
    height: 20vh;
    background-image: url(images/profile-icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: middle;
    
}
.login_user_choice{
    position: relative;
    height: 25vh;
    width: 20vh;
    display: inline-block;
    margin: 0.5vw;
    padding: 0.5vh;
    background: lightgray;
    border-radius: 10px;
    
}

.login_user_choice_label{
    position: absolute;
    top: 20.5vh;
    left: 0.5vh;
    height: 5vh;
    width: 20vh;
    display: table-cell;
    vertical-align: middle;
    font-family: custom-font-1;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0;
    text-align: center;
    padding-top: 1.25vh;
}

.login_user_choice_label input{
    width: 20vh;
    text-align: center;
    background: lightgrey;
}

.login_user_choice_label a, .login_user_choice_label a:visited{
    width: inherit;
    height: inherit;
    display: block;
    text-decoration: none;
    color: black;
    
}

#search_blanket{
    z-index: 900;
    height: 77vh;
    width: 15vw;
    top: 13vh;
    left: 5vw;
}

#search_overlay{
    display: none;
    background-image: url(images/2.png);
    height: 8vh;
    width: 10vw;
    top: 46vh;
    left: 7.5vw;
    position: absolute;
    z-index: 901;
    border-radius: 10px;
}
    




