/*MAIN PANES*/

#resume_container{
    width: 75vw;
    height: 83vh;
    position: absolute;
    overflow: hidden;
}

#interaction_pane{
    width: 37.5vw;
    height: inherit;
    overflow: auto;
    position: absolute;
    text-align: left;
    padding: 2vh;
}


#display_pane{
    width: 50%;
    height: inherit;
    overflow: hidden;
    position: absolute;
    left: 50%;
    padding: 1vh;
    background: #ffffff;
}


/*BASIC INFO DIVS*/

.resume_input_div{
    padding: 1vw;
    margin-left: 3.75vw;
    background: #e6e6e6;
    border-top: 2px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.resume_input_div input{
    position: absolute;
    right: 6vw;
    border-radius: 5px;
    background: lightgrey;
}

#resume_basic_info{
    width: 35vw;
}


/*EDUCATION DIVS*/
#resume_education{
    width: 35vw;
}


/*WORK DIVS*/
#resume_work{
    width: 35vw;
}

/*FILLER DIVS*/
.resume_filler{
    margin-left: 3.75vw;
    margin-top: 2vh;
    height: 2vh;
    background-image: url(images/1.png);
    color: white;
    padding: 1vh 0vh 1vh 0vh;
    border: none;
}